:root {
    --background: #301B28;
    --letter-color: #DDC5A2;
    --lines: #B6452C;
}

body {
    margin: 0em;
    background-color: var(--background);
    color: var(--letter-color);
    font-family: 'DM Mono', monospace;
}

.profile {
    display: flex;
    margin: auto;
    width: 70%;
    margin-top: 3em;
    justify-content: space-around;
    align-items: center;
}

.profile-image{
    background-image: url('profile.jpg');
    background-size: 100%;
    height: 10em;
    width: 10em;
    float: center;
    border-radius: 50%;
}

hr{
    background-color: var(--lines);
    width: 70%;
}

.experiencia-laboral,.educacion {
    display: grid;
    grid-template-columns: 20em 80em;
    width: 70%;
    margin-left: 50px;
}

ul li{
    line-height: 1px;
    margin-bottom: 50px;
}

.redes-sociales {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5em;
}

.redes-sociales div {
    display: flex;
    align-items: center;
}
.redes-sociales div i {
    margin-right: 0.3em;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: var(--letter-color);
}
/*
https://www.canva.com/es_mx/aprende/100-combinaciones-colores-como-aplicarlas-disenos/

46. Cafés Chocolatosos

#301B28
#523634
#B6452C
#DDC5A2
*/